<div class="u-container">
    <div class="u-margin-top u-margin-bottom">
        <h1 class="h5 u-margin-bottom">Location Viewer Widget</h1>
    </div>
    <div class="u-bg-light u-margin-top u-margin-bottom">
        <aui-location-viewer
            #locationViewer
            [geoApiBaseUrl]="geoApiBaseUrl"
            [showLayerManagement]="showLayerManagement"
            [supportingLayerOptions]="supportingLayerOptions"
            [operationalLayerOptions]="operationalLayerOptions"
            [filterLayers]="filterLayers"
            [currentPosition]="currentPosition"
            (filteredResult)="updateResult($event)"
            (markerClicked)="onClickOperationalMarker($event)"
            (whatIsHereSelected)="onWhatIsHereSelected($event)"
            [tileLayerIsVectorBased] = vectorBased
            [tileLayer]="vectorBased ? vectorTileLayer : normalTileLayer"
        >
            <div controls bottom right>
                <button
                    type="button"
                    class="a-button has-icon"
                    (click)="handler()"
                    aria-label="Go to my location"
                    title="Go to my location"
                >
                    <aui-icon name="ai-compass-arrow"></aui-icon>
                </button>
            </div>
        </aui-location-viewer>
    </div>
    <button class="a-button" aria-label="Change configuration" (click)="changeOverlaySettings()">Change configuration</button>
    <button class="a-button u-margin-left" aria-label="Switch to vector or tile layer view (On custom layer)" (click)="changeSettingsToVectorBased()">Switch to {{ vectorBased ? 'tile' : 'vector' }} layer view (On custom layer)</button>
    <p class="h6 u-margin-top u-margin-bottom">To apply changes to the vector/tile layer view while on the custom map, switch to the default map and then back to the custom map.</p>
    <div *ngIf="result">
        <p>Number of results: {{ result.length }}</p>
        <pre>{{ result.slice(0, 10) | json }}</pre>
    </div>
</div>
